<%= content_for :title do %>
  new.html.erb
<% end %>

<h1>new.html.erb</h1>


<%= content_for :script do %>

<script type="text/javascript">

function hoge() {
  alert("hoge");
}

</script>

<% end %>
